$background: #fafafa; 
$box:#1982FC; 
$greenish: #6cc98b; 
$iMsgGreen: #5BC236; 
@mixin center($w) {
    display: block;
    margin-left:auto; 
    margin-right: auto; 
    width: $w;
}
@mixin vertical-center() {
    position: absolute; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
body {
    background: $background;
    font-family: 'Montserrat', sans-serif;
}
.box {
    @include center(50%);
    position: relative; 
    color: white;
    background:$box; 
    border-radius: 25px;
    top: 20vh;
    height: 60vh;
}
#login {
    top: 10vh;
}

#signup {
    @include center(50%);
    @include vertical-center();
}
#signup > form > * {
    margin-bottom: 25px;
}
#signup > form > input {
    width: 200px;
    height: 25px;
}

#drinks {
    @include center(80%);
    @include vertical-center();
}
#drinks > form > * {
    margin-bottom: 20px;
}
#drinks > form > input {
    width: 20%;
    height: 20px;
}
#drinks > form label {
    display: inline-block;
    width: 20%;
    margin-right: 50px;
    text-align: left;  
}
#buttons {
    display: flex;
    justify-content: center;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 50px;
    width: 200px;
}
#buttons > * {
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px; 
    padding-bottom: 5px;
    color: white;
    border-radius: 20px;
    border: none;
    background-color: #1db963;
}
button {
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px; 
    padding-bottom: 5px;
    color: white;
    border-radius: 20px;
    border: none;
    background-color: #1db963;
}
button:hover {
    box-shadow: 0px 10px 50px rgb(0, 0, 0.2);
}
button > a {
    color: white;
    text-decoration: none;
}
.welcome {
    margin-bottom: 50px;
}
header {
    margin-top: 50px;
    text-align: center;
}
#foh {
    @include center(50%);
    text-align: center;
    font-size: 36px;
}
nav {
    display: flex; 
    background: $box; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;   
}
nav a {
    color: white; 
    text-align: center; 
    text-decoration: none; 
    padding: 20px; 
    margin-right: 20px;
}
nav a:first-child {
    margin-left: 15vw;
}
nav a:hover {
    color: $greenish;
}
nav > div {
    margin-left: 35vw;
    margin-top: 20px;
}
#home {
    @include center(50%);
    margin-top: 15vh;
    color: black;
    text-align: center;
}
#home > div {
    margin-top: 8vh;
}
#home > p {
    margin-top: 5vh;
}
#data {
    @include vertical-center();
}
#filter {
    margin-bottom: 25px;
}
#filter > * {
    margin-right: 20px;
}
table {
    width:60%; 
    margin-left: auto; 
    margin-right: auto;
    color: black;  
    border-collapse: collapse;
}
td, th {
    padding: 8px;
    border: 1px solid black;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:$greenish;
}
#limit {
    width:50px;
}
// table tr:nth-child(odd){
//     background-color: yellow;
// }
// table tr:nth-child(even){
//     background-color: #f2f2f2;
// }

